<% layout('layout') -%>
<!-- Main Content-->
<script defer src="http://localhost:5000/socket.io/socket.io.js"></script>
<script defer src="/js/socket.js"></script>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-8">
                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div
                            class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                            style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">Live chat</p>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="card-body">
                        <div id="message-container"></div>
                        <form id="send-container" action="">
                            <div class="form-outline">
                                <textarea class="form-control" id="message-input" rows="3"
                                          placeholder="Type your message"></textarea>
                                <br>
                                <button type="submit" id="send-button" class="btn btn-primary chat-button">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
